.outNavBar {
  /* background: linear-gradient(to right, #ffd700, rgb(250, 250, 250)); */
  background-color: #254093;
  padding-bottom: 2px;
}

.inNavBar {
  background: #ffffff;
}

.linkColor {
  color: #ffffff;
  font-weight: 400;
  /* padding-top: 10px; */
}

.linkColor:hover {
  color: #6885db;
}

.logoSize {
  width: 25vh;
}

.navInfo {
  color: rgb(255, 78, 78);
  font-weight: bolder;
  padding-top: 10px;

}

.navButton {
  background-color: #254093;
  color: white;
  border-color: #254093;
}

.navButton:hover {
  background-color: #ffffff;
  border-color: #254093;
  color: #254093;

}