.outNavBar {
  /* background: linear-gradient(to right, #ffd700, rgb(250, 250, 250)); */
  background-color: #254093;
  padding-bottom: 2px;
}

.inNavBar {
  background: #ffffff;
}

.linkColor {
  color: #6885db;
}

.linkColor:hover {
  color: #254093;
}

.logoSize {
  width: 25vh;
}
