.icoStyleInsta {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom left, rgb(148, 3, 252), rgb(255, 0, 64), rgb(252, 182, 3));
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 20%;

}

.icoStylefacebook {
  background-color: rgb(66, 103, 178);
  color: rgb(255, 255, 255);
  /* background-image: linear-gradient(to bottom left, rgb(148, 3, 252), rgb(255, 0, 64), rgb(252, 182, 3)); */
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 20%;

}

.footCol3 {
  text-align: right;
}

.footDivOut {
  position: relative;
  bottom: 2px;
  left: 0px;
  width: 100%;
  background: linear-gradient(to right, #ffd700, rgb(255, 255, 255));
  padding-top: 1px;
}

.footDivIn {
  padding: 20px;
  background: #2b2b2b;
}

.logoContainer {
  margin: 2%;
  max-width: 100%;
  width: 100%;
}